<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube" ToolsVersion="14.0">
  <Include Path="..\sonarqube\sonarlint-visualstudiocsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S3254" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarLint.CSharp" RuleNamespace="SonarLint.CSharp">
    <Rule Id="S2360" Action="None" />
    <Rule Id="S3215" Action="None" />
  </Rules>
</RuleSet>