<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <!-- SonarSecrets package published by the Language Team -->
    <add key="repox_releases" value="https://repox.jfrog.io/repox/api/nuget/sonarsource-nuget-releases" />

    <!-- All other packages -->
    <add key="slvs_input" value="https://sonarsource.pkgs.visualstudio.com/399fb241-ecc7-4802-8697-dcdd01fbb832/_packaging/slvs_input/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <repox_releases>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </repox_releases>
  </packageSourceCredentials>

  <config>
    <clear />
    <add key="signatureValidationMode" value="require" />
  </config>

  <trustedSigners>
    <clear />
    <author name="SonarSource">
      <!-- Sonar analyzer certificate -->
      <certificate fingerprint="A943C46DBA193D99C1135FFE33D3337524E9B3F05B416B9314E168CD206EF427" hashAlgorithm="SHA256" allowUntrustedRoot="false" />

      <!-- Sonar.Secrets certificate -->
      <certificate fingerprint="81D07CE4BD2663E46CA83E7AC657896EFCBE0300D83A182F1A83CC75526A0286" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 10/04/2018 -->
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 16/02/2021 -->
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- sharwell = StyleCop.Analyzers -->
      <!-- neuecc,aarnott = https://github.com/neuecc/MessagePack-CSharp -->
      <!-- teoman soygul = BouncyCastle -->
      <!-- dsplaisted = StrongNamer -->
      <!-- devtility = AsmRef -->
      <!-- jamesnk = NewtonSoft -->
      <!-- whoisj = Microsoft.Alm.Authentication -->
      <!-- aspnet = Owin -->
      <!-- bmarshall = Microsoft.VisualStudio.CommandBars VS 2019 -->

      <!-- test dependencies: -->
      <!-- meirb = FluentAssertions.Analyzers -->
      <!-- kzu = Moq -->
      <!-- jonorossi = Castle Project -->
      <!-- onovotny = Humanizer.Core -->
      <!-- tatham = System.IO.Abstractions -->

      <!-- build tools: -->
      <!-- adamhathcock = SharpCompress -->
      <!-- SharpDevelop = SharpZipLib -->
      <!-- CycloneDX = SBOM -->
      <!-- cmn =  LibGit2Sharp  -->
      <owners>protobuf-packages;Microsoft;sharwell;meirb;kzu;dotnetfoundation;castleproject;jonorossi;onovotny;fluentassertions;neuecc;aarnott;grpc-packages;tatham;teoman soygul;dsplaisted;devtility;bmarshall;whoisj;aspnet;jamesnk;adamhathcock;SharpDevelop;CycloneDX;cmn;mmanela</owners>
    </repository>
  </trustedSigners>

</configuration>
