variables:
- group: sonarsource-build-variables
- group: digicert-keylocker
- name: BuildParameters.solution
  value: SonarLint.VisualStudio.Integration.sln

name: $(Build.BuildId)

trigger:
  branches:
    include:
    - master
    - branch-*
    - feature/*
  batch: True

jobs:
- job: Phase_1
  strategy:
    maxParallel: 2
    matrix:
      2019:
        vsTargetVersion: 2019
      2022:
        vsTargetVersion: 2022
  displayName: "Build:"
  cancelTimeoutInMinutes: 1
  pool:
    vmImage: windows-2022

  steps:
  - checkout: self
    submodules: recursive
    fetchTags: false
    persistCredentials: True

  - task: PowerShell@2
    displayName: Calculate if should sign Vsix
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\should-sign-vsix.ps1

  - task: NuGetToolInstaller@0
    displayName: Use NuGet 6.3.x
    inputs:
      versionSpec: 6.3.x

  - task: NuGetCommand@2
    displayName: NuGet restore with LockedMode check (VS2022 only)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      command: custom
      solution: $(BuildParameters.solution)
      feedRestore: 399fb241-ecc7-4802-8697-dcdd01fbb832/423b576f-2263-43a1-93bd-69f4def19102
      includeNuGetOrg: false
      nugetConfigPath: nuget.config
      arguments: restore -LockedMode -Verbosity detailed

  - task: NuGetCommand@2
    displayName: NuGet restore without LockedMode check (VS2019)
    condition: and(succeeded(), ne(variables['vsTargetVersion'], '2022'))
    inputs:
      solution: $(BuildParameters.solution)
      selectOrConfig: config

  - task: PowerShell@2
    displayName: 'Read Sonar project version from the versions.props file '
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\read-versions.props.ps1

  - task: PowerShell@2
    displayName: Locate signtool.exe
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\locate-signtool.ps1

  - task: PowerShell@2
    displayName: (VS2022 only) Set VsixVersion as a build property for the release pipeline to use
    env:
      SYSTEM_ACCESSTOKEN: $(System.AccessToken)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\set-vsix-version.ps1

  - task: PowerShell@2
    displayName: (VS2022 only) Sanity check - fetch VsixVersion build property
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\fetch-vsix-version.ps1

  - task: VSBuild@1
    displayName: Set BranchName, Sha1 and BuildNumber properties from Azdo pipeline variables
    inputs:
      solution: build/ChangeVersion.proj
      msbuildArgs: /p:Sha1=$(Build.SourceVersion) /p:BranchName=$(Build.SourceBranchName) /p:BuildNumber=$(Build.BuildId)  /p:BuildConfiguration=$(BuildConfiguration)

  - task: DownloadSecureFile@1
    name: snk
    displayName: Download snk file
    inputs:
      secureFile: SonarSourceSecret.snk
      retryCount: 5

  - task: DownloadSecureFile@1
    name: SM_CLIENT_CERT
    displayName: Download p12 file
    inputs:
      secureFile: digicert_authentication_certificate.p12
      retryCount: 5
  
  - task: SSMClientToolsSetup@1   
  
  - task: SSMSigningToolsSetup@1

  - task: CmdLine@2
    inputs:
      script: 'smctl certificate download --keypair-alias=$(SM_KP) --name=KeyCert.pem --out=<Build.SourcesDirectory>'
    env:
      SM_HOST: $(SM_HOST)
      SM_API_KEY: $(SM_API_KEY)
      SM_CLIENT_CERT_PASSWORD: $(SM_CLIENT_CERT_PASSWORD)
      SM_CLIENT_CERT_FILE: $(SM_CLIENT_CERT.secureFilePath)

  # Specify the version of Java to use.
  # See https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/java-tool-installer-v0?view=azure-pipelines
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: PreInstalled

  #*********************************************************
  # HACK - explicitly build the projects that download and process the jar files
  #
  # Building the VS2019 version from the command line does not work correctly (CI or locally).
  # For some reason, the Rules.csproj build does not embed any files.
  # See #3584 - https://github.com/SonarSource/sonarlint-visualstudio/issues/3584
  - task: VSBuild@1
    displayName: Build rule description extractor
    inputs:
      solution: build\tools\ExtractRuleDescFromJson\ExtractRuleDescFromJson.csproj
      vsVersion: 17.0

  - task: VSBuild@1
    displayName: Pre-process jar files
    inputs:
      solution: build\ProcessJarFiles\ProcessJarFiles.proj
      vsVersion: 17.0

  # End of hack
  #*********************************************************
  
  - task: SonarCloudPrepare@1
    displayName: Prepare analysis on SonarCloud (VS2022 only)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      SonarCloud: SonarCloud
      organization: sonarsource
      projectKey: sonarlint-visualstudio
      projectName: SonarLint for Visual Studio
      projectVersion: $(SONAR_PROJECT_VERSION)

  - task: VSBuild@1
    displayName: Build solution SonarLint.VisualStudio.Integration.sln
    inputs:
      solution: $(BuildParameters.solution)
      vsVersion: 17.0
      msbuildArgs: /p:VsTargetVersion=$(vsTargetVersion) /p:DeployExtension=false /p:SignArtifacts=false /p:AssemblyOriginatorKeyFile="$(snk.secureFilePath)" /p:Sha1=$(Build.SourceVersion) /p:BuildNumber=$(Build.BuildId)  $(AdditionalMSBuildArgs)
      platform: $(BuildPlatform)
      configuration: $(BuildConfiguration)
      maximumCpuCount: true
      logFileVerbosity: diagnostic

  - task: CmdLine@2
    inputs:
      script: 'smctl sign --keypair-alias=$(SM_KP) --certificate=$(Agent.TempDirectory)\KeyCert.pem  --config-file $(SSMClientToolsSetup.PKCS11_CONFIG) --input $(Build.SourcesDirectory)\binaries'
    env:
      SM_HOST: $(SM_HOST)
      SM_API_KEY: $(SM_API_KEY)
      SM_CLIENT_CERT_PASSWORD: $(SM_CLIENT_CERT_PASSWORD)
      SM_CLIENT_CERT_FILE: $(SM_CLIENT_CERT.secureFilePath)

  - task: CopyFiles@2
    displayName: 'Copy asmref files to: $(Build.ArtifactStagingDirectory) in the event of a build failure' 
    inputs:
      SourceFolder: $(Build.SourcesDirectory)\src\Integration.Vsix
      Contents: |
        **\AsmRef_*.txt
      flattenFolders: true
      TargetFolder: $(Build.ArtifactStagingDirectory)
    condition: failed()     # we're only interested if the build failed (in case the build failed because of a mismatch in the asmref files)


### Mend/WhiteSource scanning ###
# Run if: previous builds succeeded AND (building master or ForceWhiteSourceScan=true) UNLESS (SkipwWhiteSourceScan=true)

  - task: UniversalPackages@0
    displayName: Download WhiteSource agent
    condition: and(succeeded(), ne(variables['SkipWhiteSourceScan'], 'true'), or(eq(variables['ForceWhiteSourceScan'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    inputs:
      downloadDirectory: $(System.DefaultWorkingDirectory)\Whitesource
      feedsToUse: 'internal'
      vstsFeed: '399fb241-ecc7-4802-8697-dcdd01fbb832/9e67fb30-4d6b-42ce-93f1-82d875c48b3b'
      vstsFeedPackage: '1b87817a-74ba-44b2-952f-cb80bf4c6aa6'
      versionListDownload: '*'

  - task: PowerShell@2
    displayName: Run WhiteSource (Mend) scan
    # Run if: previous builds succeeded AND (building master or ForceWhiteSourceScan=true) UNLESS (SkipwWhiteSourceScan=true)
    condition: and(succeeded(), ne(variables['SkipWhiteSourceScan'], 'true'), or(eq(variables['ForceWhiteSourceScan'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    env:
      WS_APIKEY: $(MEND_APIKEY)
    inputs:
      targetType: inline
      script: java -jar  "${env:SYSTEM_DEFAULTWORKINGDIRECTORY}\Whitesource\wss-unified-agent.jar" -c "${env:BUILD_SOURCESDIRECTORY}\build\whitesource\wss-unified-agent.config" -product "SonarLint/VisualStudio"  -project "SonarSource/sonarlint-visualstudio VS$(vsTargetVersion) ${env:SONAR_PROJECT_VERSION}" -projectversion ${env:SONAR_PROJECT_VERSION}  -scanComment "buildNumber:${env:BUILD_BUILDID};gitSha:${env:BUILD_SOURCEVERSION}" -offline false
### Mend/WhiteSource scanning end ###


### SBOM generation start ###
  - task: DotNetCoreCLI@2
    displayName: Install cycloneDX tool
    condition: and(succeeded(), or(eq(variables['ForceSbomGeneration'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    inputs:
      command: custom
      custom: tool
      arguments: install --global CycloneDX

  - task: DotNetCoreCLI@2
    displayName: Generate cycloneDX sbom file
    condition: and(succeeded(), or(eq(variables['ForceSbomGeneration'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    inputs:
      command: custom
      projects: SonarLint.VisualStudio.Integration.sln
      custom: CycloneDX
      arguments: -t -j -o binaries

  - task: DownloadSecureFile@1
    name: signKey
    displayName: Download sign key
    condition: and(succeeded(), or(eq(variables['ForceSbomGeneration'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    inputs:
      secureFile: sign-key.asc

  - task: PowerShell@2
    displayName: Rename and sign SBOM file
    condition: and(succeeded(), or(eq(variables['ForceSbomGeneration'], 'true'), eq(variables['Build.SourceBranch'], 'refs/heads/master')))
    env:
      PGP_PASSPHRASE: $(PGP_PASSPHRASE)
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\sbom.ps1
### SBOM generation end ###


  - task: CopyFiles@2
    displayName: 'Copy VSIX to: $(Build.ArtifactStagingDirectory)'
    inputs:
      SourceFolder: $(Build.SourcesDirectory)\binaries
      Contents: |
        **\*.vsix
        **\SonarLint.visualstudio.sbom*.*
      TargetFolder: $(Build.ArtifactStagingDirectory)
    condition: succeededOrFailed()

  - task: CopyFiles@2
    displayName: 'Copy any MSBuild binary logs to: $(Build.ArtifactStagingDirectory)'
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: '**\*.binlog'
      TargetFolder: $(Build.ArtifactStagingDirectory)
    condition: succeededOrFailed()

  - task: CopyFiles@2
    displayName: 'Copy marketplace files to:  $(Build.ArtifactStagingDirectory) (VS2022 only)'
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      SourceFolder: $(Build.SourcesDirectory)\MarketPlaceFiles\VS2022
      TargetFolder: $(Build.ArtifactStagingDirectory)

  - task: CopyFiles@2
    displayName: 'Copy marketplace files to:  $(Build.ArtifactStagingDirectory) (VS2019 only)'
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2019'))
    inputs:
      SourceFolder: $(Build.SourcesDirectory)\MarketPlaceFiles\VS2019
      TargetFolder: $(Build.ArtifactStagingDirectory)

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: vsix'
    inputs:
      ArtifactName: vsix
    condition: succeededOrFailed()  # always publish artefacts - helps with diagnosing failures
  
  - task: VSTest@2
    displayName: VsTest - testAssemblies
    inputs:
      testAssemblyVer2: |
        **\bin\**\$(BuildConfiguration)\**\sonar*.*tests.dll
        !**\obj\**
      runInParallel: false
      runTestsInIsolation: false
      codeCoverageEnabled: true
      platform: $(BuildPlatform)
      configuration: $(BuildConfiguration)
      rerunFailedTests: true

  - task: SonarCloudAnalyze@1
    displayName: Run Code Analysis (VS2022 only)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))

  - task: SonarCloudPublish@1
    displayName: Publish Quality Gate Result (VS2022 only)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))

  - task: PowerShell@2
    displayName: Set trigger dogfood VSIX build tag (VS2022 only)
    condition: and(succeeded(), eq(variables['vsTargetVersion'], '2022'))
    inputs:
      targetType: filePath
      filePath: $(System.DefaultWorkingDirectory)\pipeline\scripts\trigger-dogfood.ps1
...