<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube" ToolsVersion="14.0">
  <Include Path="..\sonarqube\sonarlint-visualstudiocsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1072" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarLint.CSharp" RuleNamespace="SonarLint.CSharp">
    <Rule Id="S2360" Action="None" />
  </Rules>
</RuleSet>